@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Cinzel:wght@400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
  transition: background-color 0.5s ease;
  background-color: #000000;
}

body.change-bg {
  background-color: rgb(168, 170, 245);
  color: white;
}

.P1{
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transform: scale(0.5);
  
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

    transition:5s ease 3s;
}

.P1.active{
    opacity: 1;
    transform: scale(1);
    border-radius: 60px;
}

.P2{
    margin-left: 60px;
    margin-top: 50px;
    
    height: 50PX;
    width: 10%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: ease 1s;
    border-radius: 60px;
}


.P2.active {
    animation: expandFade 4s ease forwards; 
}


.P3{
    height: 1000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition:5s ease 7s;
    opacity: 0;
}

.P3.active{
    opacity: 1;
    transform: scale(1);
    border-radius: 60px; 
}

/* ความยาว animation = 5s ขยาย + 1s จาง */
@keyframes expandFade {
    0% {
        width: 10%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    80% {
        width: 90%;   /* ช่วงนี้คือขยาย */
        opacity: 1;
    }
    100% {
        width: 90%;
        opacity: 0;    /* จางกลับเป็น 0 */
    }


    
}

.mode{
    width: 100px;
    height: 100px;
}


.mode {
  transition: background-color 0.5s ease;
  
}

.mode.change-color i {
 
 color: rgb(255, 255, 255) !important;
}


.img-profile{
    width: 200px;
    height: 200px;
    width: 200px;
    height: 200px;
    overflow: hidden;      
    border-radius: 50%;    
    
}

.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 100px;
}

.header-content2{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
}