.P1{
    height: 200px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transform: scale(0.5);
    border-radius: 10px;

    transition: 1s ease 0.5s;
}

.P1.active{
    opacity: 1;
    transform: scale(1);
    border-radius: 60px;
}
